@media print {
    .noprint {
        display: none;
    }
    body {
    	font: 40% Verdana,Tahoma,Arial,sans-serif;
    	}

    /* Main layout*/
    #wrap {
        width: 100%;
    	}

    /* Header*/
    header {
        display: none;
        }

    /*menu */
    nav {
    	display: none;
    	}
    .align_right {
        float: right;
        }
    .align_center {
        text-align: center;
        }
    .float_left {
        float: left;
    }

    /* Footer */
    footer {
    	display: none;
    	}
    .clear {
        clear: both;
    }

    #invoice {
        width: 96%;
        padding: 2%;
        margin: 0;
        background: #ffffff;
        border: 1px solid #000000;
    }

    #invoice table {
        width: 50%;
        background: none;
        border: none;
        padding: 0;
        margin-bottom: 10px;
        vertical-align: top;
    }

    #invoice table p {
        padding: 0;
        margin: 0;
    }

    #invoice table th{
        width: 30%;
        text-align: left;
        background: none;
        border: none;
        padding: 0;
        vertical-align: top;
    }

    #invoice table td{
        width: 70%;
        text-align: justify;
        background: none;
        border: none;
        padding: 0;
    }

    .smaller {
        font-size: 0.8em;
    }

    .invoice_title {
        width: 100%;
        border: 1px solid #000000;
        text-align: center;
        margin-bottom: 10px;
    }

    #products_invoice {

    }

    #products_invoice table {
        width: 100%;
    }

    #products_invoice table th {
        width: auto;
        border: 1px solid #000000;
    }
    #products_invoice table td {
        width: auto;
    }

    #invoice_payment {
        width: 96%;
        padding: 2%;
        margin: 0;
        background: #ffffff;
        border: 1px solid #000000;
    }

    #invoice_payment table {
        width: 80%;
    }


    #invoice_payment table th{
        width: 20%;
    }

    #invoice_payment table td{
        width: 80%;
    }

    .marginleft {
        margin-left: 15%;
    }

    .thbank {
        font-weight: normal;
    }
    .search {
        display: none;
    }
    a {
        text-decoration: none;
        color: #000000;
    }
    table {
        width: 100%;
        border: 1px solid #000000;
        background: #ffffff;
        }
    th {
        background: #cccccc;
        border: 1px solid #000000;
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;
        vertical-align: middle;
        }
    td {
        padding-right: 5px;
        padding-left: 5px;
        vertical-align: middle;
        }

}


@media screen {
body {
	font: 70% Verdana,Tahoma,Arial,sans-serif;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background: #000000;
	}

/* Main layout*/
#wrap {
    margin: 1%;
    padding: 0.5%;
    width: 97%;
    background: #ffffff;
    border-radius: 10px;
	}

/* Header*/
header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 75px;
    background: #000000;
    text-align: center;
    border-radius: 10px;
    }

/*menu */
nav {
	float: left;
	width: 98%;
    margin: 10px 0;
    background: #ffffff;
	text-align: center;
	}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}
nav li {
	float: left;
	}
nav li a {
    display: block;
    border: 1px solid #000000;
    color: #000000;
	font-size: 1.2em;
	margin: 1px;
	padding: 5px 20px 5px 20px;
	text-decoration: none;
	}
nav li a:hover {
	background: #000000;
    border: 1px solid #000000;
    color: #ffffff;
	text-decoration: none;
	}
nav li ul {
    text-align: left;
	display: none;
	position: absolute;
	}
nav li:hover ul{
	display: block;
	background: #ffffff;
    border: 1px solid #000000;
    color: #000000;
	text-decoration: none;
	}
nav li li {
	display: block;
	float: none;
	}
nav li ul a{
	display: block;
	}
nav li ul a:hover{
    border: 1px solid #000000;
    color: #ffffff;
	font-size:1.2em; 
	margin: 1px;
	padding: 5px 20px 5px 20px;
	text-decoration: none;
	}
.align_right {
    float: right;
    }
.align_center {
    text-align: center;
    }
.float_left {
    float: left;
}

/* Contents */
section {
    float: left;
    width: 98%;
    margin-bottom: 10px;
    padding: 0 1% 1%;
    text-align: left;
    border-radius: 10px;
    background: #eeeeee;
	}
section h1 {
	font-size: 2.0em;
	font-weight: 500;
	}
section h2 {
	font-size: 1.7em;
	font-weight: 500;
	}
section h3 {
	font-size: 1.4em;
	font-weight: 500;
	}

#content1 {
    float: left;
    width: 28%;
    min-width: 232px;
    overflow: scroll;
    }
#content2 {
    float: left;
    width: 20%;
    min-width: 160px;
    overflow: scroll;
    }
.edit {
    clear: both;
    text-align: right;
}
.comments {
    width: 100%;
    min-width:160px;
    margin-top: 10px;
    overflow: scroll;
    text-align: justify;
    }
#content3a {
    float: right;
    width: 30%;
    min-width: 214px;
    overflow:scroll;
    background: #eeeeee;
    }
.conten3 {
    background: #bbbbbb;
    border: 0;
    }
#content3b {
    float: right;
    width: 20%;
    min-width: 165px;
    overflow: scroll;
    background: #eeeeee;
    }
#content4 {
    clear: both;
    border-top: 2px solid #000000;
    }
.drop_line1 {
    float: left;
    margin-top: 30px;
    padding: 1% 1% 0;
    }
.drop_line2 {
    float: right;
    margin-top: 30px;
    padding: 0 2%;
    }
.drop_line3 {
    float: right;
    margin-top: 30px;
    padding: 10px 1% 0;
    }
#drop {
    clear: both;
    margin-bottom: 20px;
    padding: 1%;
    border: 1px solid #000000;
    border-radius: 10px;
    background: #bbbbbb;
    }
#dropleft {
    float: left;
    width: 78%;
    min-width: 579px;
    }
#dropright {
    float: right;
    margin-left: 2%;
    width: 18%;
    min-width: 180px;
    }

#form_left {
    float: left;
    }
#form_right {
    float: left;
    margin-left: 5%;
    }
#form_bottom {
    clear: both;
    }

/* Footer */
footer {
	clear:both;
    width:98%;
    padding: 5px 1%;
    text-align:center;
    color:#ffffff;
    background:#000000;
    border-radius: 10px;
	}
footer a {
	color:#ffffff;
	}
footer ul {
    list-style-type: none;
    }
footer li {
    display: inline;
    }
.gabrielhilal {
    font-size: 0.8em;
    text-align: right;
    color: #aaaaaa;
    }
.gabrielhilal a {
    color: #aaaaaa;
}

/* forms and tables*/
.field, .actions {
    margin-bottom: 10px;
    }
table {
    width: 100%;
    border: 1px solid #000000;
    background: #ffffff;
    }
th {
    background: #cccccc;
    border: 1px solid #000000;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: middle;
    }
td {
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: middle;
    }
.bigtr {
    height: 22px;
    }
.noborder {
    border: 0;
    background: #eeeeee;
    }
.space{
    padding-left: 20px;
    }
.centre {
    text-align: center;
    }
.bigselect {
    width: 500px;
}
.clear {
    clear: both;
}
.button_invoice {
    float: right;
    border: 1px solid #000000;
    background: #eeeeee;
    padding: 2px 5px;
    margin: 5px;
    border-radius: 3px;
}
.nospace tr th {
    padding: 0;
    margin: 0;
}
.nospace tr td {
    padding: 0;
    margin: 0;
}

.button_invoice a {
    text-decoration: none;
    color: #000000;
}
/* flash and errors */
.success {
    background:#e6efc2;
    color:#264409;
    border-color:#c6d880;
    font-size:1.3em;
    }
.error {
    background:#cccccc;
    color:#ff3333;
    border-color:#ff3333;
    font-size:1.3em;
    }
.field_with_errors {
    background-color: #ff3333;
    display: table;
    }
.field_with_errors label {
    color: #ff3333;
    background-color: #ffffff;
    }
#error_explanation {
    width: 400px;
    border: 2px solid #ff3333;
    margin-bottom: 20px;
    background-color: #cccccc;
    }

/*hover to display*/
.showhim {
    cursor: help;
    }
.showme {
    display: none;
    position: absolute;
    margin-left: 40px;
    margin-top: -30px;
    background: #999999;
    padding: 5px;
    border-radius: 10px;
    }
.showhim:hover .showme {
    display: block;
	}

.noprint {}

#invoice {
    width: 96%;
    padding: 2%;
    margin: 0;
    background: #ffffff;
    border: 1px solid #000000;
}

#invoice table {
    width: 50%;
    background: none;
    border: none;
    padding: 0;
    margin-bottom: 10px;
    vertical-align: top;
}

#invoice table p {
    padding: 0;
    margin: 0;
}

#invoice table th{
    width: 30%;
    text-align: left;
    background: none;
    border: none;
    padding: 0;
    vertical-align: top;
}

#invoice table td{
    width: 70%;
    text-align: justify;
    background: none;
    border: none;
    padding: 0;
}

.smaller {
    font-size: 0.8em;
}

.invoice_title {
    width: 100%;
    border: 1px solid #000000;
    text-align: center;
    margin-bottom: 10px;
}

#products_invoice {

}

#products_invoice table {
    width: 100%;
}

#products_invoice table th {
    width: auto;
    border: 1px solid #000000;
}
#products_invoice table td {
    width: auto;
}

#invoice_payment {
    width: 96%;
    padding: 2%;
    margin: 0;
    background: #ffffff;
    border: 1px solid #000000;
}

#invoice_payment table {
    width: 80%;
}


#invoice_payment table th{
    width: 20%;
}

#invoice_payment table td{
    width: 80%;
}

.marginleft {
    margin-left: 15%;
}

.thbank {
    font-weight: normal;
}

.search {
    float: left;
    width: 25%;
    border: none;
    background: none;
    margin-right: 5%;
}
}

