<footer>
  <p>Final Year Project: Information System for <a href="http://www.studiotmls.com">TMLS Services Ltd</a></p>
  <p>
    <a href="http://jigsaw.w3.org/css-validator/check/referer">
        <img src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!" />
    </a>
</p>
</footer>