<footer>
  <div>
    Copyright © 2012 | <%= link_to "Studio TMLS", "http://www.studiotmls.com.br", :target => "_blank" %>
  </div>
  <div class="gabrielhilal">
    Web-based application developed by Gabriel Hilal | <%= link_to "gabrielhilal.com", "http://www.gabrielhilal.com", :target => "_blank" %>
  </div>
</footer>