<header>

</header>
<nav>
  <ul>
    <li><a href="#">Home</a></li>
	<li><a href="#">Patients</a>
      <ul>
	    <li><a href="#">Your Details</a></li>
	    <li><a href="#">Your Admissions History</a></li>
      </ul>
	    </li>
	    <li><a href="#">Hospitals</a>
      <ul>
	    <li><a href="#">Find Hospitals</a></li>
      </ul>
	</li>
	<li><a href="#">Treatments</a>
      <ul>
	    <li><a href="#">Your Treatments History</a></li>
      </ul>
    </li>
  </ul>
</nav>
